<!DOCTYPE html>

<html lang="en">

<head>

    <!-- ==============================================
        Basic Page Needs
        =============================================== -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>DevJey - Dashboard</title>

    <meta name="description" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
    <meta name="subject" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
    <meta name="author" content="Codings">

    <!-- ==============================================
        Favicons
        =============================================== -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/slider.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/vendor/icons.min.css">
    <link rel="stylesheet" href="/static/css/vendor/animation.min.css">
    <link rel="stylesheet" href="/static/css/vendor/gallery.min.css">
    <link rel="stylesheet" href="/static/css/default.css">

    <style>
        :root {
            --header-bg-color: #111111;
            --nav-item-color: #f5f5f5;
            --hero-bg-color: #111111;

            --section-1-bg-color: #111111;

            --footer-bg-color: #191919;
        }
    </style>

</head>

<body>
    <!-- Header -->
    <header id="header">
        <!-- Navbar -->
        <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
            <div class="container header">

                <!-- Navbar Brand-->
                <a class="navbar-brand" href="index.html">
                    DevJey<i>.</i>
                </a>

                <!-- Nav holder -->
                <div class="ml-auto"></div>
                <!-- Navbar Action -->
                <ul class="navbar-nav action">
                    <li class="nav-item ml-3">
                        <a href="/" class="btn ml-lg-auto primary-button" class="nav-link">Back Home</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <!-- Hero -->
    <section id="slider" class="hero p-0 odd featured">
        <div class="swiper-container no-slider slider-h-75">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img src="/static/images/bg-2.jpg" class="full-image" data-mask="3">

                    <div class="slide-content row text-center">
                        <div class="col-12 mx-auto inner">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">INTERNAL SERVER ERROR</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>
        <br><br><br>
    </section>

    <!-- Footer -->
    <footer>

        <!-- Copyright -->
        <section id="copyright" class="p-3 odd copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                        <p>Automate your world.</p>
                    </div>
                    <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                        <p>© 2020 <a href="https://themeforest.net/user/codingsdev" target="_blank">DevJey</a>.</p>
                    </div>
                </div>
            </div>
        </section>

    </footer>



    <!-- ==============================================
        Google reCAPTCHA // Put your site key here
        =============================================== -->
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6Lf-NwEVAAAAAPo_wwOYxFW18D9_EKvwxJxeyUx7"></script> -->

    <!-- ==============================================
        Vendor Scripts
        =============================================== -->
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/jquery.easing.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/ponyfill.min.js"></script>
    <script src="/static/js/vendor/slider.min.js"></script>
    <script src="/static/js/vendor/animation.min.js"></script>
    <script src="/static/js/vendor/gallery.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>


</html>