{% extends "base.html" %}
{% block title %}New Message{% endblock %}

{% block mobilemenu %}
<a class="profile-name">Savalijey</a>
<a href="/" class="btn navbar__right-login" id="new-message">New message</a>
<a href="/" class="btn navbar__right-login" id="my-messages">My messages</a>
<a href="/" class="btn navbar__right-signup" id="logout-mobile">Logout</a>
{% endblock %}
{%   block navright %}

<a href="" class="btn navbar__right-login my-messages-desktop" id="my-messages-desktop">Messages</a>
<div class="dropdown">
    <img src="{{ url_for('static', filename='images/person_outline.svg') }}" class="logout-icon" alt="">
    <div class="dropdown-content">
        <a href="/" id="logout">Logout</a>
    </div>
</div>
{%  endblock %}


{% block content%}
<section class="content-section">
    <div class="content-section__left content-section__left-faq">
        <div class="faq">
            <h5 class="faq-title">Create a Message</h5>
            <p>Add a message by adding a Channel/Group/User Name to send to, the time you want the message repeatedly
                sent after, and the message to send.</p>
        </div>
        <div class="faq">
            <h5 class="faq-title">Start the message</h5>
            <p>Go to Messages page, and find the message with the unique given name. Click the Start Message Button</p>
        </div>
        <div class="faq">
            <h5 class="faq-title">Verify your phone number</h5>
            <p>Enter your phone number in the prompt and click continue. Once you receive a code on your mobile phone,
                enter it in the next prompt to verify your mobile number on telegram.</p>
        </div>
        <div class="faq">
            <h5 class="faq-title">All Done!</h5>
            <p>That’s it! Everything is set. Your message will start sending repeatedly to your audience after the
                specified duration of time.</p>
        </div>
    </div>
    <div class="content-section__right">

        <form class="add-form" method="POST">
            <h1>Enter Message Details</h1>
            <p>All fields are mandatory and necessary for a <br> message to wor correctly. Pay attention to <br>
                specific instructions.</p><br>
            <input required type="text" name="name" id="name" class="input-fields"
                placeholder="Channel/Group/User name"><br>
            <input required type="number" name="duration" id="duration" class="input-fields"
                onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="Duration"><br>

            <textarea name="message" id="message" cols="30" rows="6" placeholder="Message"></textarea>

            <input type="submit" name="add-submit" id="add-submit" class="btn submit-btn" value="Add Message"><br>
        </form>

    </div>
</section>
{% endblock %}