{% extends "base.html" %}
{% block title %}Update Message{% endblock %}

{% block mobilemenu %}
<a class="profile-name">Savalijey</a>
<a href="/new" class="btn navbar__right-login" id="new-message">New message</a>
<a href="/home" class="btn navbar__right-login" id="my-messages">My messages</a>
<a href="/" class="btn navbar__right-signup" id="logout-mobile">Logout</a>
{% endblock %}
{%   block navright %}

<a href="/home" class="btn navbar__right-login my-messages-desktop" id="my-messages-desktop">Messages</a>
<div class="dropdown">
    <img src="{{ url_for('static', filename='images/person_outline.svg') }}" class="logout-icon" alt="">
    <div class="dropdown-content">
        <a href="/" id="logout">Logout</a>
    </div>
</div>
{%  endblock %}


{% block content%}
{% if message_details %}
<section class="content-section">
    <div class="content-section__left content-section__left-faq">
        <div class="faq">
            <h3 class="faq-title">Edit a Message</h3>
            <p>Edit a message by adding a new Channel/Group/User Name to send to, the time you want the message
                repeatedly
                sent after, and the message to send.</p>
        </div>
        <div class="faq">
            <h3 class="faq-title">Start sending the message</h3>
            <p>Go to Messages page, and find the specific message with the Channel/Group/Username. Click the Start
                Sending Button</p>
        </div>
        <div class="faq">
            <h3 class="faq-title">Verify your phone number</h3>
            <p>Enter your phone number in the prompt and click continue. Once you receive a code on your mobile phone,
                enter it in the next prompt to verify your mobile number on telegram.</p>
        </div>
        <div class="faq">
            <h3 class="faq-title">All Done!</h3>
            <p>That’s it! Everything is set. Your message will start sending repeatedly to your audience after the
                specified duration of time.</p>
        </div>
    </div>
    <div class="content-section__right">

        <form class="edit-form" id="edit-form" method="POST">
            <h1>Enter Message Details</h1><br>
            <p>All fields are mandatory and necessary for a <br> message to wor correctly. Pay attention to <br>
                specific instructions.</p><br>
            <input type="text" id="idStore" value="{{message_details.id}}" hidden>
            <input type="text" name="group-name-edit" id="group-name-edit" class="input-fields"
                value="{{message_details.name}}" placeholder="Channel or Group or Username"><br>
            <input type="number" name="duration-edit" id="duration-edit" class="input-fields"
                value="{{message_details.duration}}" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                placeholder="Duration"><br>

            <textarea name="message-edit" id="message-edit" cols="30" rows="6"
                placeholder="Message">{{message_details.message}}</textarea>

            <input type="submit" name="edit-submit" id="edit-submit" class="btn submit-btn" value="Update Message"><br>
        </form>

    </div>
</section>
{% else %}
<div class="verified-msg">
    <img src="{{ url_for('static', filename='images/telegram-logo.svg') }}" alt="" class="verified-logo">
    Message cannot be found
    <br>
    <a href="/home" class="back-to-main-site">View All Messages</a>
</div>
{% endif %}
{% endblock %}