{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block modals %}
{{ super() }}
<!--
        Login Modal
    -->
<section class="login-page" id="login-page">
    <img src="{{ url_for('static', filename='images/circles.svg') }}" class="circles-img-modal" alt="Circles">
    <div class="x" id="x">
        <div class="close">
            <div class="close-btn"></div>
        </div>
    </div>
    <form class="login-form" id="login-form" method="POST">
        <h1>Login</h1>
        <p>Log into your account to start using our <br>services.</p><br>
        <input type="text" name="email" id="email" class="input-fields" placeholder="Username or email"><br>
        <input type="password" name="" id="password" class="input-fields" placeholder="Password"><br>
        <input type="submit" name="login-submit" id="login-submit" class="btn submit-btn" value="Login"><br>

        <p>Do not have an account?<br>
            <a href="" id="signup-link">Register</a> here.</p><br>
    </form>
</section>

<!--
        Signup Modal
    -->
<section class="signup-page" id="signup-page">
    <img src="{{ url_for('static', filename='images/circles.svg') }}" class="circles-img-modal" alt="Circles">
    <div class="x-signup" id="x-signup">
        <div class="close">
            <div class="close-btn"></div>
        </div>
    </div>
    <form class="signup-form" id="signup-form" method="POST">
        <h1>Register</h1>
        <p>Create an account to start enjoying our <br>services.</p><br>
        <input  type="text" name="name-signup" id="name-signup" class="input-fields" placeholder="Username"><br>
        <input  type="email" name="email-signup" id="email-signup" class="input-fields" placeholder="Email"><br>
        <input  type="password" name="password-signup" id="password-signup" class="input-fields" placeholder="Password"><br>
        <input  type="password" name="repassword-signup" id="repassword-signup" class="input-fields" placeholder="Confirm Password"><br>
        <input type="submit" name="signup-submit" id="signup-submit" class="btn submit-btn" value="Signup"><br>

        <p>Already have an account?<br>
            <a href="" id="login-link">Login</a> here.</p><br>
    </form>
</section>
{% endblock %}
{% block content %}

<section class="content-section">
    <div class="content-section__left">
        <h1>
            Automate
        </h1>
        <p>
            Broadcast your messages to different groups or channels automatically.
            Telegram Textbot will ease your work and give you more time to do productive work
        </p>
        <br>
        <a href="/" class="btn navbar__right-signup" id="signup-main">Create Account Now</a>
    </div>
    <div class="content-section__right">
        <img src="{{ url_for('static', filename='images/telegram-logo.svg') }}" alt="logo" id="tele-logo">
    </div>
</section>
{% endblock %}
