{% extends "base.html" %}
{% block title %}Messages{% endblock %}
{% block modals %}
{{ super() }}
<!--
        Enter mobile number Modal
    -->
<section class="mobile-page" id="mobile-page">
    <img src="{{ url_for('static', filename='images/circles.svg') }}" class="circles-img-modal" alt="Circles">
    <div class="x" id="x-mobile">
        <div class="close">
            <div class="close-btn"></div>
        </div>
    </div>
    <form class="mobile-form" id="mobile-form" method="POST">
        <h1>Enter Mobile Number</h1>
        <p>Enter your mobile number below. A verification code will be <br> sent to your mobile phone (Either in the telegram <br> mobile app or text messages)</p><br>
        <p class="pid" hidden></p>
        <input type="number" name="code" id="code" class="input-fields" placeholder="+254"
            onkeydown="javascript: return event.keyCode == 69 ? false : true">
        <input type="number" name="mobile" id="mobile" class="input-fields" placeholder="Mobile no"
            onkeydown="javascript: return event.keyCode == 69 ? false : true"><br>
        <input type="submit" name="mobile-submit" id="mobile-submit" class="btn submit-btn" value="Send Code"><br>
    </form>
</section>

<!--
        Enter verification code Modal
    -->
<section class="mobile-page" id="verify-page">
    <img src="{{ url_for('static', filename='images/circles.svg') }}" class="circles-img-modal" alt="Circles">
    <div class="x" id="x-verify">
        <div class="close">
            <div class="close-btn"></div>
        </div>
    </div>
    <form class="mobile-form" method="POST">
        <h1>Enter Verification Code</h1>
        <p>Check your mobile phone for a <br> verification code.</p><br>
        <input required type="number" name="mobile" id="verification" class="input-fields" placeholder="Verification No"
            onkeydown="javascript: return event.keyCode == 69 ? false : true"><br>
        <input type="submit" name="mobile-submit" id="verify-submit" class="btn submit-btn" value="Verify"><br>
    </form>
</section>
{% endblock %}
{% block mobilemenu %}
<a class="profile-name">Savalijey</a>
<a href="/new" class="btn navbar__right-login" id="new-message">New message</a>
<a href="/home" class="btn navbar__right-login" id="my-messages">My messages</a>
<a href="/" class="btn navbar__right-signup" id="logout-mobile">Logout</a>
{% endblock %}
{%   block navright %}

<a href="/home" class="btn navbar__right-login my-messages-desktop" id="my-messages-desktop">Messages</a>
<div class="dropdown">
    <img src="{{ url_for('static', filename='images/person_outline.svg') }}" class="logout-icon" alt="">
    <div class="dropdown-content">
        <a href="/" id="logout">Logout</a>
    </div>
</div>
{%  endblock %}


{% block content%}
{% if messages|length == 0 %}
<div class="verified-msg">
    <img src="{{ url_for('static', filename='images/telegram-logo.svg') }}" alt="" class="verified-logo">
    You do not have any messages yet
    <br>
    <a href="/new" class="back-to-main-site">Create a Message Now</a>
</div>
{% else %}
<section class="content-section-messages" id="all-messages">
    <div class="section-header">
        <div class="section-title">
            <h1>All Messages</h1>
        </div>
        <div class="section-title-button">
            <a href="/new" class="add-message">Add Message</a>
        </div>
    </div>

    <div class="section-content">
        {% for message in messages %}
        <div class="card-container">
            <div class="section-content__card">
                <div class="flip-card-front">
                    {% if message.on %}
                    <p class="on"></p>
                    {% else %}
                    <p class="off"></p>
                    {% endif %}
                    <img src="{{ url_for('static', filename='images/telegram-logo.svg') }}" alt="">
                    <span class="message-name">{{message.name|truncate(30)}}</span>
                    <p class="messages-sofar">{{message.iterations}} Message(s) sent so far</p>
                </div>
                <div class="flip-card-back">
                    <input type="button" class="edit editselect" id="{{message.id}}" value="Edit">
                    <input type="button" class="delete" id="{{message.id}}" value="Delete">
                    <input type="button" class="start-message" id="{{message.id}}" value="Start Sending">

                    <div class="flip-card-back__content">
                        <h4>{{message.name|truncate(30)}}</h4>
                        <p>{{message.message|truncate(250)}}
                        </p>
                        <label>Repeats: Every {{message.duration}} Minute(s)</label>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}