<!DOCTYPE html>

<html lang="en">

<head>

    <!-- ==============================================
        Basic Page Needs
        =============================================== -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>DevJey - Dashboard</title>

    <meta name="description" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
    <meta name="subject" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
    <meta name="author" content="Codings">

    <!-- ==============================================
        Favicons
        =============================================== -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/slider.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/vendor/icons.min.css">
    <link rel="stylesheet" href="/static/css/vendor/animation.min.css">
    <link rel="stylesheet" href="/static/css/vendor/gallery.min.css">
    <link rel="stylesheet" href="/static/css/default.css">

    <style>
        :root {
            --header-bg-color: #111111;
            --nav-item-color: #f5f5f5;
            --hero-bg-color: #111111;

            --section-1-bg-color: #111111;

            --footer-bg-color: #191919;
        }
    </style>

</head>

<body>
    <!-- Header -->
    <header id="header">
        <!-- Navbar -->
        <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
            <div class="container header">

                <!-- Navbar Brand-->
                <a class="navbar-brand" href="/">
                    DevJey<i>.</i>
                </a>

                <!-- Nav holder -->
                <div class="ml-auto"></div>
                <!--Nav items -->
                <ul class="navbar-nav items">
                    <li class="nav-item">
                        <a href="/processes" class="nav-link active">My Processes</a>
                    </li>
                </ul>
                <!-- Navbar Action -->
                <ul class="navbar-nav action">
                    <li class="nav-item ml-3">
                        <h6>Hi {{user}}!</h6>
                    </li>
                    <li class="nav-item ml-3">
                        <a href="#" target="_blank" class="btn ml-lg-auto primary-button" class="nav-link" id="logout">
                            <i class="icon-rocket"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <section id="contact" class="section-1 odd form">
        <div class="container smaller">

            <br>
            <h3>All My Processes</h3>
            <a href="/home" class="btn ml-lg-auto primary-button" class="nav-link" id="new">
                New Process</a>
            <br>
            {% if processes %}
            <table class="table table-responsive-md table-bordered" style="color:white;border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Link</th>
                        <th>Message</th>
                        <th>Repeat after every Min(s)</th>
                        <th>Iterations so far</th>
                        <th>Running?</th>
                        <th>Last Run On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for p in processes %}
                <tbody>
                    <tr>
                        <td name="pid" id="pid">{{p.id}}</td>
                        <td name="link" id="link">{{p.link}}</td>
                        <td name="message" id="message">{{p.message}}</td>
                        <td name="duration" id="duration">{{p.duration}}</td>
                        <td>{{p.iterations}}</td>
                        <td>{{p.on}}</td>
                        <td>{{p.created.strftime('%d-%m-%Y %H:%MHrs') }}</td>
                        <td>
                            {% if p.on %}
                            <button class="btn ml-lg-auto primary-button" class="nav-link" id="stop-btn" type="submit">
                                Stop
                            </button>
                            {% else %}
                            <button class="btn ml-lg-auto primary-button" class="nav-link" id="mobile-btn" type="submit"
                                data-toggle="modal" data-id="{{p.id}}" data-target="#mobile"
                                style="background-color: greenyellow; color: black;">
                                Start
                            </button>
                            {% endif %}
                        </td>

                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
            <h6>No Processes currently!</h6>
            {% endif %}

            <br><br><br>
            <br><br><br>
            <br><br><br>
            <br><br><br>
        </div>
        <div id="mobile" class="p-0 modal fade" role="dialog" aria-labelledby="mobile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        Phone Number Verification <i class="icon-close"></i>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:0" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h4>Enter Mobile Number</h4>
                                    </div>
                                </div>
                                <p id="processId" hidden></p>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="number" class="form-control" id="code" name="code"
                                            style="text-align: right;" placeholder="Code" required>
                                        <input type="number" class="form-control" id="mobile-no" name="mobile-no"
                                            placeholder="Mobile No" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <p id="return-login-message" style="color: red;"></p>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button" id="send-code">Send
                                            Verification Code</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="verify" class="p-0 modal fade" role="dialog" aria-labelledby="mobile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        Phone Number Verification <i class="icon-close"></i>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h4>Enter Verification Code</h4>
                                    </div>
                                </div>
                                <p id="processId" hidden></p>
                                <p style="color: red" id="respo"></p>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="number" class="form-control" id="verification" name="verification"
                                            placeholder="Verification code" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <p id="error-msg" style="color: red;"></p>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <input type="submit" id="back" data-toggle="modal" data-target="#mobile"
                                            value="Back">
                                        &nbsp;
                                        <button class="btn primary-button" id="verify-btn"><i class="icon-login"></i>
                                            Verify</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer>

        <!-- Copyright -->
        <section id="copyright" class="p-3 odd copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                        <p>Automate your world.</p>
                    </div>
                    <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                        <p>© 2020 <a href="https://themeforest.net/user/codingsdev" target="_blank">DevJey</a>.</p>
                    </div>
                </div>
            </div>
        </section>

    </footer>



    <!-- ==============================================
        Google reCAPTCHA // Put your site key here
        =============================================== -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Lf-NwEVAAAAAPo_wwOYxFW18D9_EKvwxJxeyUx7"></script>

    <!-- ==============================================
        Vendor Scripts
        =============================================== -->
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/jquery.easing.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/ponyfill.min.js"></script>
    <script src="/static/js/vendor/slider.min.js"></script>
    <script src="/static/js/vendor/animation.min.js"></script>
    <script src="/static/js/vendor/gallery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        function logout() {
            $.get("/logout")
        }
        function start_transactions() {
            $("#respo").html(`<b style="color: green">Wait while the code is being send</b>`)
            var code = $("#code").val();
            var mobile_no = $("#mobile-no").val();
            $('#mobile').modal('hide');
            $('#verify').modal('show');
            $.get("/automate", { code: code, mobile_no: mobile_no })
                .then(res => {
                    print(res)
                    $("#respo").html(`<b>${res}</b>!`);
                })
        }

        function verify_code() {
            $("#respo").html(`<b style="color: green">Wait For Process To Start (This can take a few minutes)</b>`)
            var my_code = $("#verification").val();
            var pid = $("#processId").val();
            $.get("/verify", { my_code: my_code, pid: pid })
                .then(res => {
                    print(res)
                    $("#respo").html(`<b>${res}</b>`)
                })
        }

        function stopTransaction() {
            var pid = $("#pid").val();
            $.get("/stop", { pid: pid })
        }

        $(document).on("click", "#mobile-btn", function () {
            var myProcessId = $(this).data('id');
            $(".modal-body #processId").html(`${myProcessId}`);
        });
        $("#logout").click(function (e) {
            e.preventDefault();
            logout();
            window.location.replace("/")
        })
        $("#send-code").click(function (e) {
            e.preventDefault();
            start_transactions();
        })
        $("#verify-btn").click(e => {
            e.preventDefault();
            verify_code();
        })
        $("#stop-btn").click(e => {
            e.preventDefault()
            stopTransaction()
        })
        $("#back").click(e => {
            e.preventDefault()
            $('#verify').modal('hide');
        })
    </script>
</body>


</html>