{% extends "base.html" %}
{% block title %}Verification{% endblock %}
{% block modals %}
{{ super() }}
<!--
        Login Modal
    -->
<section class="login-page" id="login-page">
    <img src="{{ url_for('static', filename='images/circles.svg') }}" class="circles-img-modal" alt="Circles">
    <div class="x" id="x">
        <div class="close">
            <div class="close-btn"></div>
        </div>
    </div>
    <form class="login-form" method="POST">
        <h1>Login</h1>
        <p>Log into your account to start using our <br>services.</p><br>
        <input required type="email" name="email" id="email" class="input-fields" placeholder="Email"><br>
        <input required type="password" name="" id="password" class="input-fields" placeholder="Password"><br>
        <input type="submit" name="login-submit" id="login-submit" class="btn submit-btn" value="Login"><br>

        <p>Do not have an account?<br>
            <a href="" id="signup-link">Register</a> here.</p><br>
    </form>
</section>

<!--
        Signup Modal
    -->
<section class="signup-page" id="signup-page">
    <img src="{{ url_for('static', filename='images/circles.svg') }}" class="circles-img-modal" alt="Circles">
    <div class="x-signup" id="x-signup">
        <div class="close">
            <div class="close-btn"></div>
        </div>
    </div>
    <form class="signup-form" id="signup-form" method="POST">
        <h1>Register</h1>
        <p>Create an account to start enjoying our <br>services.</p><br>
        <input required type="text" name="name-signup" id="name-signup" class="input-fields" placeholder="Username"><br>
        <input required type="email" name="email-signup" id="email-signup" class="input-fields" placeholder="Email"><br>
        <input required type="password" name="password-signup" id="password-signup" class="input-fields" placeholder="Password"><br>
        <input required type="password" name="repassword-signup" id="repassword-signup" class="input-fields" placeholder="Confirm Password"><br>
        <input type="button" name="signup-submit" id="signup-submit" class="btn submit-btn" value="Signup"><br>

        <p>Already have an account?<br>
            <a href="" id="login-link">Login</a> here.</p><br>
    </form>
</section>
{% endblock %}
{% block content %}
    <div class="verified-msg">
        <img src="{{ url_for('static', filename='images/telegram-logo.svg') }}" alt="" class="verified-logo">
        {{msg}}
        <br>
        <input type="submit" id="go-to-login" value="Click here to Login">
    </div>
{% endblock %}